{% extends "base.html" %} 
{% load static %}

{% block content %}


<div class="image-container">
    <div class="card-body">
        <img src="static/images/bgbaby.jpg" class="img-fluid" alt="Responsive image" width="100%">
        <!--write over the image-->
        <div class="overlay">
            <span>
                Welcome To All | About | Baby
                <p>
                    The place for everything all about baby!!!
                    
                    Here you will find Blogs, Recipes and more!
                    We are here to help on this amazing journey from birth to 1 year.
                    Look threw our blogs for tips and ideas from developmental playing to weaning.
                    And speaking of weaning weve got recipies to help you on your weaning journey wether your heading
                    down the baby led weaning path our
                    sticking with tradional pur&#233es
                </p>
            </span>

        </div>
    </div>
</div>
  
       
{% endblock %}
